# zurg3's JupyterLite deployment

# Core modules
jupyterlite-core==0.8.1
jupyterlab==4.6.1
notebook==7.6.0

# Kernels
jupyterlite-pyodide-kernel==0.8.2
jupyterlite-javascript-kernel==0.3.0

# Languages
jupyterlab-language-pack-ru-RU

# JupyterLite
jupyterlite-xeus==5.0.0
jupyterlite-terminal==1.6.0

# JupyterLab extensions
jupyterlab-open-url-parameter
jupyterlab-spreadsheet-editor

# Themes
jupyterlab-night
jupyterlab-miami-nights
theme-darcula
