# Core modules
jupyterlite-core==0.7.0
jupyterlab==4.5.0
notebook==7.5.0

# Kernels
jupyterlite-pyodide-kernel==0.7.0
jupyterlite-javascript-kernel==0.3.0
jupyterlite-p5-kernel==0.3.0

# Languages
jupyterlab-language-pack-ru-RU

# JupyterLite
jupyterlite-xeus==4.3.6
jupyterlite-terminal==1.2.0

# Themes
jupyterlab-night
jupyterlab-miami-nights
theme-darcula

# Python libraries
ipywidgets
ipyevents
ipympl
ipycanvas
ipyleaflet
nbconvert
plotly
bqplot
